.wrapper{
    width: 500px;
    height: 100%;
    margin: 200px auto 0;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.main-btn{
    padding: 10px 50px;
    color: azure;
    background-color: blue;
    border-radius: 10px;
}